:root {
 /* Set neon color */
 --neon-text-color: #fe3875;
 --neon-border-color: #fe3875;
}

.scale{
    transform: scale(1);
    transition: all 500ms ease-in-out;
}
.scale:hover{
    transform: scale(1.3);
}

.viewGallery {
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

.viewGallery:hover {
    transform: scale(0.9);
    z-index: 100;

}

.gradiente{
    background: rgb(175,28,73);
    background: linear-gradient(90deg, rgba(175,28,73,1) 23%, rgba(175,28,73,0.7399334733893557) 50%, rgba(255,15,189,0.5074404761904762) 82%);
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
