*{
    margin: 0;
    padding: 0;
}

body{
    color: $main-font-color;
    font-style: normal;
    font-weight: $font-light;
    font-size: 1rem;
    font-family: $font-roboto;
    background-color: $main-bg-color;
}

/**** COLORS ****/

.bg-pink{
    background-color: $color-pink;
}

.colorPink{
    color: $color-pink;
}

.bg-purple{
    background-color: $color-purple;
}
.colorPurple{
    color: $color-purple;
}

.colorWhite{
    color: $main-font-color;
}

.bg-darkviolet{
    background-color: $color-darkviolet;
}

.border-purple{
    border-top: $color-pink 3px solid;
    border-bottom: $color-pink 3px solid;
}

.bg-black{
    background-color: $main-bg-color;
}

.flickerAnimation{
    animation: flicker 1.5s infinite alternate;
}

/**** FONTS ROBOTO *****/

@each $k, $v in $font-weight-roboto {
    .roboto-#{$k}{
        font-family: $font-roboto;
        font-weight: $v;
    }
}

/**** FONTS CABIN *****/

@each $k, $v in $font-weight-cabin {
    .cabin-#{$k}{
        font-family: $font-cabin;
        font-weight: $v;
    }
}
    
/**** BANNER ****/

.banner {
    position: relative;
    background-color: $main-bg-color;
    width: 100%;
    margin-bottom: 5rem;
    overflow: hidden;
}

.banner--img{
    height: 15%;
    min-height: 10rem;
}

.banner--video{
    height: 90vh;
    min-height: 25rem; 
}

.banner__video{
    &.embed-responsive {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
    }
}

.banner__container{
    position: relative;
    z-index: 2;
}

.banner__overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

.banner__overlay--medium{
    opacity: 0.5;
}

.banner__overlay--soft{
    opacity: 0.2;
}
.banner__overlay--hard{
    opacity: 0.7;
}

/****** NAVBAR  ************/

/* Change background color */
.navbar-custom {
    background-color: $main-bg-color;
    color: $main-font-color;
    font-family: $font-cabin;
}
/* Change the brand and text color */
.navbar-custom__brand{
    &.navbar-brand, .navbar-text {
        color: $main-font-color;
    }
}
/* Change the link color */
.navbar-custom__link{
    & .navbar-nav .nav-link {
        color: $main-font-color;
    }
}

/* Change the color of active or hovered links */
.navbar-custom__link--colorPink{
    & .nav-item.active .nav-link, .nav-item:focus .nav-link, .nav-item:hover .nav-link {
        color: $color-pink;
    }
}

/* Change the color of toogler */
.navbar-custom__toogler{
    &.navbar-toggler {
        i{
            color: $color-pink;
        }
    }
}

/***** MINI BANNER MOBILE ******/
.miniBanner{
    color: $main-font-color;
    text-decoration: none;
    text-align: center;
    margin: 0 1.5em;
}

.miniBanner--gradient{
    background: rgb(175,28,73);
    background: linear-gradient(90deg, rgba(175,28,73,1) 23%, rgba(175,28,73,0.7399334733893557) 50%, rgba(255,15,189,0.5074404761904762) 82%);
}

.miniBanner--border{
    border-radius: 0 100px 0 100px;
}

.miniBanner__text{
    color: $main-font-color;
    font-weight: $font-light;
    font-size: 1.3em;
}



/*****************   BACKGROUNDS    *********************/

@mixin backgroundImage ($name, $size) {
    background-image: url("../assets/img/#{$name}-bgImage-#{$size}.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


$pages: Cocktails, Contact, Events, Reservations, Gallery;
@each $screen, $size in $screen-size{
   
    @media all and (min-width: $size){
        @each $v in $pages{
            .background#{$v}{
                @include backgroundImage(to-lower-case($v), $screen);
            }
        }
    }

}



/**** COCKTAILS ****/

.cocktail{
    color: $main-font-color;
    background-color: $main-bg-color;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cocktail__title{
  font-weight: $font-bold;
}

.cocktail__description{
    font-family: $font-cabin;
}

.cocktail--size{
    max-width: 300px;
}

.cocktail--scale{

    img{
        transform: scale(1);
        transition: all 300ms ease-in-out;
    }
    img:hover{
        transform: scale(1.1);
        z-index: 100;    
    }

}

/***** EVENTS *****/

.event{
    background-color: $main-bg-color;
    color: $main-font-color;
    font-size: 1.3rem;
    font-family:$font-roboto;
}

.event__title{
    font-size: 1.8rem;
    font-family:$font-roboto;
    font-weight: $font-regular;
}

.event__info{
    font-size: 1rem;
}

.event__date{
    min-width: 15rem;
    max-width: 20rem;
    font-size: 1.3rem;
    font-family: $font-cabin;
    font-weight: $font-semi-bold;
    font-style: italic;
    border: 2px solid $color-pink;
    text-align: center;
    
    a{
        text-decoration: none;
        color: $main-font-color;
        &:hover{
            color: $color-pink;
            border-color: $color-pink;
        }
    }
    i{
        padding: 0 0.2em;
    }
}

/******* FOOTER ******/

.footer{
    font-family: $font-cabin;
    background-color: $main-bg-color;
    color: $main-font-color;
    margin-top: 5rem;
    p{
        margin: 0;
        padding: 0;
    }
}

.footer__schedule{
    background-color: $color-darkviolet;
}

.footer__socialMedia{
    background-color: $color-darkviolet;
    color: $main-font-color;
    a{
        color: $main-font-color;
        &:hover{
            color: $color-pink;
        }
    }
}

.footer__address{
    background-color: $color-darkviolet;
    color: $main-font-color;
    font-size: 1rem;
}

.footer__goUp{
    background-color: $main-bg-color;
    a{
        color:$main-font-color;
        &:hover{
            color:$color-pink;
        }
    }
}

.footer--bgDark{
    background-color: $main-bg-color;
}

.footer--bgGray{
    background-color: $color-darkviolet;
}

/**** BUTTON ****/
.button{
    border: none;
    color: $main-font-color;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 2px 1px;
    cursor: pointer;
}

.button--hover{
    &:hover{
        border: 2px solid $color-darkviolet;
    }
}

.button--theme-purple{
    background: $color-pink;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid transparent;
}

/**** CHANGE COLOR RADIO CHECK ****/
.custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color: $color-pink;
    border-color: $color-pink;
}
